<div *ngFor="let items of weapons">
  <div *ngFor="let item of items">

    <!-- Title -->
    <div class="card text-white w-1/3 mx-auto mt-3">
      <div class="card-body bg-[#c97a03] rounded-t-md p-5">
        <div>
          <h2 class="card-title font-bold">{{item.name}}</h2>
          <span class="text-cyan-300 font-semibold font-[#b3f0ca]">{{item.cost}} cost</span>
        </div>
      </div>

      <!-- Components  -->
      <div class="card-body bg-[#9e630c] px-5 py-2" *ngIf="item.components">
        <div>
          <span class="font-semibold text-xs text-gray-300">COMPONENTS:</span>
          <div class="flex flex-wrap">
            <span class="ps-3 text-sm font-semibold text-gray-200">{{item.components}}</span>
          </div>
        </div>
      </div>

      <div class="card-body bg-[#80550f] p-5 rounded-b-md">
        <!-- Effects -->
        <!-- TODO: Same starting col for properties -->
        <div>
          <div *ngFor="let eff of item.effects" class="flex text-sm">
            <div class="font-semibold text-gray-200 min-w-[1.5rem]">
              {{eff.value}}
            </div>
            <div class="ps-3 font-semibold text-gray-200">{{eff.property}}</div>
          </div>
        </div>

        <!-- Description -->
        <div class="text-gray-200 border-y-2 border-gray-400 py-3" *ngIf="item.description">
          {{item.description}}
        </div>

        <!-- Conditional Effects -->
        <!-- TODO: Split multile rows when overflowing, same height for cards -->
        <div class="flex flex-row gap-1 pt-2">
          <div *ngFor="let eff of item.conditionalEffects">
            <div class="card col-auto min-h-[1rem] bg-[#67430a] text-center rounded-md p-2">
              <div class="text-lg font-bold min-h-8 flex flex-col items-center justify-center border-b border-gray-400">
                {{eff.value}}
              </div>
              <div class="text-sm font-semibold min-h-12 flex flex-col items-center justify-center">
                {{eff.property}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
