<!-- Title -->
<div class="card min-w-60 max-w-80 text-white mx-auto shadow-xl" *ngIf="item">
  <div class="card-body rounded-t-md p-5" [ngStyle]="{'background-color': '#' + getColors()[0]}">
    <div>
      <img src="assets/items/{{item.name.replaceAll(' ', '_')}}.png" alt="{{item.name.replaceAll(' ', '_')}}" class="w-6 h-6 float-right">
      <h2 class="card-title font-bold">{{item.name}}</h2>
      <span class="text-cyan-300 font-semibold font-[#b3f0ca]">{{item.cost}} cost</span>
    </div>
  </div>

  <!-- Components -->
  <div class="card-body px-5 py-2" [ngStyle]="{'background-color': '#' + getColors()[1]}" *ngIf="item.components">
    <div>
      <span class="font-semibold text-xs text-gray-300">COMPONENTS:</span>
      <div class="flex flex-wrap">
        <span class="ps-3 text-sm font-semibold text-gray-200">{{item.components}}</span>
      </div>
    </div>
  </div>

  <div class="card-body p-5 rounded-b-md" [ngStyle]="{'background-color': '#' + getColors()[2]}">
    <!-- Effects -->
    <div>
      <div *ngFor="let eff of item.effects" class="flex text-sm">
        <div class="font-semibold text-gray-200 min-w-[3.5rem]">
          {{eff.value}}
        </div>
        <div class="ps-3 font-semibold text-gray-200">{{eff.property}}</div>
      </div>
    </div>

    <!-- Description -->
    <div class="text-gray-200 border-t-2 border-gray-400 py-2"
      [ngClass]="{'border-b-2' : item.conditionalEffects.length > 0}" *ngIf="item.description">
      {{item.description}}
    </div>

    <!-- Conditional Effects -->
    <div class="grid grid-cols-2 gap-1 pt-2" *ngIf="item.conditionalEffects.length > 0">
      <div *ngFor="let eff of item.conditionalEffects">
        <div class="card text-center rounded-md p-2" [ngStyle]="{'background-color': '#' + getColors()[3]}">
          <div class="text-md font-bold min-h-8 flex flex-col items-center justify-center border-b border-gray-400">
            {{eff.value}}
          </div>
          <div class="text-xs font-semibold min-h-12 flex flex-col items-center justify-center">
            {{eff.property}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
