<div class="navbar pb-0">
  <div class="flex-1 gap-2">
    <div
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#dc9b32] bg-[#ccbea7] hover:bg-[#dc9b32] transition-colors"
    >
      Heroes
    </div>
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#7bbb1c] hover:bg-[#7bbb1c] transition-colors"
      routerLink="/items" #rla="routerLinkActive" [ngClass]="{'bg-[#ccbea7]' : !rla.isActive}" [routerLinkActive]="['bg-[#7bbb1c]']"
    >
      Items
    </a>
    <div
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#cd91fe] bg-[#ccbea7] hover:bg-[#cd91fe] transition-colors"
    >
      Builds
    </div>
  </div>
  <div class="flex-none">
    <div
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#85b6fd] bg-[#ccbea7] hover:bg-[#85b6fd] transition-colors"
    >
      Profile
    </div>
  </div>
</div>
<router-outlet></router-outlet>
