<div class="grid xl:grid-cols-6 md:grid-cols-2 w-full m-2">
  <div class="xl:col-span-3 md:col-span-2">
    <p class="text-center text-4xl font-bold">{{ hero.name }}</p>
    <p class="text-center font-semibold">{{ hero.shortDescription }}</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 sm:grid-rows-2 gap-x-2 gap-y-4 mb-4">
      @for (ability of hero.abilities; track $index) {
      <div class="card">
        <div class="join mx-auto">
          <img
            class="w-20 h-20 mask mask-circle"
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            [alt]="ability.name"
          />
          <p class="pl-8 my-auto font-bold">{{ ability.name }}</p>
        </div>
        <p class="h-2/5">{{ ability.description }}</p>
        <div class="flex w-fit h-3/5 sm:flex-row flex-col">
          @for (upgrade of ability.upgrades; track $index) {
          <p class="border sm:w-full lg:w-1/3 lg:h-full">{{ upgrade }}</p>
          }
        </div>
      </div>
      }
    </div>
    <p class="pt-8">{{ hero.description }}</p>
  </div>
  <div class="xl:col-span-2">
    <img
      class="p-7 h-full"
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      [alt]="hero.name"
    />
  </div>
  <div>
    <div>
      <p class="text-[#dd8e18]">Weapon</p>
      <div class="grid grid-cols-2 bg-[#2f2f2f]">
        <div>
          <p class="text-center font-bold">{{ hero.weaponStats.dps }}</p>
          <p class="text-center text-sm">DPS</p>
        </div>
        <div>
          <p class="text-center font-bold">
            {{ hero.weaponStats.bulletDamage }}
          </p>
          <p class="text-center text-sm">Bullet Damage</p>
        </div>
        <div>
          <p class="text-center font-bold">{{ hero.weaponStats.ammo }}</p>
          <p class="text-center text-sm">Ammo</p>
        </div>
        <div>
          <p class="text-center font-bold">
            {{ hero.weaponStats.bulletsPerSec }}
          </p>
          <p class="text-center text-sm">Bullets per sec</p>
        </div>
        <div>
          <p class="text-center font-bold">{{ hero.weaponStats.lightMelee }}</p>
          <p class="text-center text-sm">Light Melee</p>
        </div>
        <div>
          <p class="text-center font-bold">{{ hero.weaponStats.heavyMelee }}</p>
          <p class="text-center text-sm">Heavy Melee</p>
        </div>
      </div>
    </div>
    <div>
      <p class="text-[#73ad1b]">Vitality</p>
      <div class="grid grid-cols-2 bg-[#2f2f2f] p-2">
        <div>
          <p class="text-center font-bold">
            {{ hero.vitalityStats.maxHealth }}
          </p>
          <p class="text-center text-sm">Max Health</p>
        </div>
        <div>
          <p class="text-center font-bold">
            {{ hero.vitalityStats.healthRegen }}
          </p>
          <p class="text-center text-sm">Health Regen</p>
        </div>
        <div>
          <p class="text-center font-bold">
            {{ hero.vitalityStats.bulletResist }}
          </p>
          <p class="text-center text-sm">Bullet Resist</p>
        </div>
        <div>
          <p class="text-center font-bold">
            {{ hero.vitalityStats.spiritResist }}
          </p>
          <p class="text-center text-sm">Spirit Resist</p>
        </div>
        <div>
          <p class="text-center font-bold">
            {{ hero.vitalityStats.moveSpeed }}
          </p>
          <p class="text-center text-sm">Move Speed</p>
        </div>
        <div>
          <p class="text-center font-bold">
            {{ hero.vitalityStats.sprintSpeed }}
          </p>
          <p class="text-center text-sm">Sprint Speed</p>
        </div>
        <div>
          <p class="text-center font-bold">{{ hero.vitalityStats.stamina }}</p>
          <p class="text-center text-sm">Stamina</p>
        </div>
      </div>
    </div>
    <div>
      <p>Vitality</p>
    </div>
  </div>
</div>
