<div class="navbar pb-0">
  <div class="flex-1 gap-2">
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#dc9b32] bg-[#ccbea7] hover:bg-[#dc9b32] transition-colors"
      routerLink="/heroes"
      #heroesActive="routerLinkActive"
      [ngClass]="{ 'bg-[#ccbea7]': !heroesActive.isActive }"
      [routerLinkActive]="['bg-[#dc9b32]']"
    >
      Heroes
    </a>
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#7bbb1c] bg-[#ccbea7] hover:bg-[#7bbb1c] transition-colors"
      routerLink="/items"
      #itemsActive="routerLinkActive"
      [ngClass]="{ 'bg-[#ccbea7]': !itemsActive.isActive }"
      [routerLinkActive]="['bg-[#7bbb1c]']"
    >
      Items
    </a>
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#cd91fe] bg-[#ccbea7] hover:bg-[#cd91fe] transition-colors"
      routerLink="/builds"
      #buildsActive="routerLinkActive"
      [ngClass]="{ 'bg-[#ccbea7]': !buildsActive.isActive }"
      [routerLinkActive]="['bg-[#cd91fe]']"
    >
      Builds
    </a>
  </div>
  <div class="flex-none gap-2">
    @if (this.userService.getRole() === 'moderator' ||
    this.userService.getRole() === 'admin') {
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-yellow-300 bg-yellow-300 hover:bg-yellow-300 transition-colors"
      routerLink="/reports"
      #reportsActive="routerLinkActive"
      [ngClass]="{ 'bg-[#ccbea7]': !reportsActive.isActive }"
      [routerLinkActive]="['bg-yellow-300']"
    >
      Reports
    </a>
    } @if (this.userService.isLoggedIn ) {
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#85b6fd] bg-[#ccbea7] hover:bg-[#85b6fd] transition-colors"
      routerLink="/profile/{{ this.getUserId() }}"
      #profileActive="routerLinkActive"
      [ngClass]="{ 'bg-[#ccbea7]': !profileActive.isActive }"
      [routerLinkActive]="['bg-[#85b6fd]']"
    >
      Profile
    </a>
    } @else {
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-[#85b6fd] bg-[#ccbea7] hover:bg-[#85b6fd] transition-colors"
      routerLink="/auth/login"
      #loginActive="routerLinkActive"
      [ngClass]="{ 'bg-[#ccbea7]': !loginActive.isActive }"
      [routerLinkActive]="['bg-[#85b6fd]']"
    >
      Login
    </a>
    } @if (this.userService.isLoggedIn ) {
    <a
      class="px-8 py-3 font-bold text-gray-800 rounded-t border-t-4 border-red-400 bg-[#ccbea7] hover:bg-red-400 transition-colors"
      (click)="logout()"
      routerLink=""
    >
      Logout
    </a>
    }
  </div>
</div>
