<div class="grid grid-cols-2">
  <form
    class="mx-auto grid grid-cols-2 w-full px-20"
    [formGroup]="buildForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <p>Hero</p>
      <button
        class="btn btn-square w-[254px] h-[344px] relative"
        onclick="my_modal_2.showModal()"
        (click)="suppress($event)"
      >
        @if (buildForm.value.hero === null) {
        <p class="text-4xl font-bold m-auto">+</p>
        } @else {

        <img
          class="rounded-md bg-[#a29582]"
          [src]="
            'assets/heroes/' +
            heroes[buildForm.value.hero].name.replaceAll(' ', '_') +
            '_card.png'
          "
          [alt]="heroes[buildForm.value.hero].name"
        />
        <p
          class="text-center w-full absolute bottom-0 font-semibold text-2xl text-[#ffefd7]"
        >
          {{ heroes[buildForm.value.hero].name }}
        </p>
        }
      </button>
    </div>
    <!-- Open the modal using ID.showModal() method -->
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box max-w-7xl">
        <div class="grid xl:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 gap-4">
          @for (hero of heroes; track hero; let i = $index) {
          <div class="relative card w-fit bg-[#a29582] form-control">
            <label class="label cursor-pointer p-0">
              <input
                type="radio"
                class="hidden"
                formControlName="hero"
                [value]="i"
                onclick="my_modal_2.close()"
              />
              <img
                class="rounded-md min-w-40 min-h-40 max-w-70 max-h-70"
                [src]="
                  'assets/heroes/' +
                  hero.name.replaceAll(' ', '_') +
                  '_card.png'
                "
                [alt]="hero.name"
              />
              <p
                class="text-center w-full absolute bottom-0 font-semibold text-2xl text-[#ffefd7]"
              >
                {{ hero.name }}
              </p>
              <a
                class="absolute -top-1 right-0 text-black font-extrabold text-4xl"
                href="heroes/{{ i }}"
                target="_blank"
                >&#x2197;</a
              >
            </label>
          </div>

          }
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <div>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Build Title</span>
        </div>
        <input
          type="text"
          placeholder="Title"
          class="input input-bordered w-full"
          formControlName="title"
        />
        <!-- TODO: Errors -->
        @if (false) {
        <div class="label">
          <span class="label-text-alt text-error">Error</span>
        </div>
        }
      </label>
      <label class="form-control">
        <div class="label">
          <span class="label-text">Short Description</span>
        </div>
        <textarea
          class="textarea textarea-bordered h-24 w-full"
          placeholder="Short Description"
          formControlName="shortDescription"
        ></textarea>
        <!-- TODO: Errors -->
        @if (false){
        <div class="label">
          <span class="label-text-alt text-error">Error</span>
        </div>
        }
      </label>
      <label class="form-control">
        <div class="label">
          <span class="label-text">Description</span>
        </div>
        <textarea
          class="textarea textarea-bordered h-24 w-full"
          placeholder="Description"
          formControlName="description"
        ></textarea>
        <!-- TODO: Errors -->
        @if (false){
        <div class="label">
          <span class="label-text-alt text-error">Error</span>
        </div>
        }
      </label>
      <div class="mt-4 flex flex-col items-center">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!buildForm.valid"
        >
          Save
        </button>
      </div>
    </div>
  </form>
  <div class="mx-auto">
    <h1 class="text-2xl text-center">Items</h1>
    <div class="w-full">
      <div class="w-fit mt-3 mx-auto">
        <div class="join mx-1">
          <div
            class="border border-[#dc9b32] rounded-xl m-3 p-1 bg-[#2d2208] bg-opacity-30 h-36"
          >
            <div class="relative w-full">
              <img
                class="absolute left-1/2 top-0 -translate-x-1/2"
                src="assets/Weapon_Icon.png"
              />
              <p
                class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
              >
                WEAPON
              </p>
            </div>
            <div
              class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
            >
              @for (item of selectedWeaponItems; track item) {
              <button
                class="bg-[#dc9b32] w-10 h-10 rounded-md"
                (click)="selectedItemClick('weapon', item)"
              >
                <img
                  class="invert"
                  [src]="
                    'assets/items/' + item.name.replaceAll(' ', '_') + '.png'
                  "
                />
              </button>
              }
            </div>
          </div>
          <div
            class="border border-[#7bbb1c] rounded-xl m-3 p-1 bg-[#1f3104] bg-opacity-30 h-36"
          >
            <div class="relative w-full">
              <img
                class="absolute left-1/2 top-0 -translate-x-1/2"
                src="assets/Vitality_Icon.png"
              />
              <p
                class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
              >
                VITALITY
              </p>
            </div>
            <div
              class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
            >
              @for (item of selectedVitalityItems; track item) {
              <button
                class="bg-[#7bbb1c] w-10 h-10 rounded-md"
                (click)="selectedItemClick('vitality', item)"
              >
                <img
                  class="invert"
                  [src]="
                    'assets/items/' + item.name.replaceAll(' ', '_') + '.png'
                  "
                />
              </button>
              }
            </div>
          </div>
          <div
            class="border border-[#cd91fe] rounded-xl m-3 p-1 bg-[#332142] bg-opacity-30 h-36"
          >
            <div class="relative w-full">
              <img
                class="absolute left-1/2 top-0 -translate-x-1/2"
                src="assets/Spirit_Icon.png"
              />
              <p
                class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
              >
                SPIRIT
              </p>
            </div>
            <div
              class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
            >
              @for (item of selectedSpiritItems; track item) {
              <button
                class="bg-[#cd91fe] w-10 h-10 rounded-md"
                (click)="selectedItemClick('spirit', item)"
              >
                <img
                  class="invert"
                  [src]="
                    'assets/items/' + item.name.replaceAll(' ', '_') + '.png'
                  "
                />
              </button>
              }
            </div>
          </div>
          <div
            class="border border-slate-800 rounded-xl m-3 p-1 bg-[#2c2c2c] bg-opacity-30 h-36"
          >
            <div class="relative w-full">
              <p
                class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
              >
                FLEX
              </p>
            </div>
            <div
              class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
            >
              @for (item of selectedFlexItems; track item) {
              <button
                class="w-10 h-10 rounded-md"
                (click)="selectedItemClick('flex', item)"
                [class]="{
                  'bg-[#dc9b32]': item.category === 'weapon',
                  'bg-[#7bbb1c]': item.category === 'vitality',
                  'bg-[#cd91fe]': item.category === 'spirit'
                }"
              >
                <img
                  class="invert"
                  [src]="
                    'assets/items/' + item.name.replaceAll(' ', '_') + '.png'
                  "
                />
              </button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-fit h-[calc(100vh-20rem)] overflow-y-scroll grid grid-cols-6 gap-2 pr-2 rounded-md"
    >
      @for (category of items; track category) { @for (priceCategory of
      category; track priceCategory) { @for (item of priceCategory; track item)
      {
      <button
        class="card rounded-md w-24 gap-1"
        [class]="{
          'bg-[#dc9b32]': item.category === 'weapon',
          'bg-[#7bbb1c]': item.category === 'vitality',
          'bg-[#cd91fe]': item.category === 'spirit'
        }"
        (click)="itemListClick(item)"
      >
        <!-- TODO: OnClick -->
        <p
          class="text-center text-[#98ffde] font-semibold h-fit rounded-t-md"
          [class]="{
            'bg-[#c97a03]': item.category === 'weapon',
            'bg-[#659818]': item.category === 'vitality',
            'bg-[#c288f0]': item.category === 'spirit'
          }"
        >
          {{ item.cost }}
        </p>
        <img
          class="w-14 h-14 mx-auto invert"
          [src]="'assets/items/' + item.name.replaceAll(' ', '_') + '.png'"
          alt="{{ item.name }}"
        />
        <p class="text-center text-black bg-[#FFF0D7] h-full rounded-b-md">
          {{ item.name }}
        </p>
      </button>
      } }
      <div class="col-start-1 -col-end-1"></div>
      }
    </div>
  </div>
</div>
