@if(userService.isLoggedIn) {
<a href="/builds/editor" class="btn">+ Create</a>
}
<div class="grid grid-cols-4">
  @for (build of data; track $index) {
  <a
    class="card shadow-md bg-[#ccbea7] p-2"
    [routerLink]="['/builds', build.id]"
  >
    <div class="join">
      <img
        class="h-32 rounded-md"
        [src]="
          'assets/heroes/' +
          heroes[build.heroId].name.replaceAll(' ', '_') +
          '_card.png'
        "
        alt=""
      />
      <div class="w-full p-2 text-gray-800">
        <p class="text-center text-xl">{{ build.title }}</p>
        <p>{{ build.shortDescription }}</p>
      </div>
    </div>
  </a>
  }
</div>
