@if (loading || buildData === undefined) {
<div class="flex items-center justify-around h-full">
  <p class="w-1/12 loading"></p>
</div>
} @else {
<div class="flex flex-row gap-4">
  <div class="relative h-fit">
    <img
      class="rounded-md bg-[#a29582] min-w-fit"
      [src]="
        'assets/heroes/' +
        heroes[buildData.heroId].name.replaceAll(' ', '_') +
        '_card.png'
      "
      [alt]="heroes[buildData.heroId].name"
    />
    <p
      class="text-center w-full absolute bottom-0 font-semibold text-2xl text-[#ffefd7]"
    >
      {{ heroes[buildData.heroId].name }}
    </p>
  </div>
  <div class="w-full">
    @if (userService.getUserId() === buildData.user.id || userService.getRole()
    === 'admin') {
    <div class="relative">
      <div class="absolute top-10 right-10 flex flex-col gap-2">
        <a class="btn px-5 btn-primary" routerLink="./edit">Edit ✏️</a>
        <button class="btn px-5 btn-error" onclick="my_modal_2.showModal()">
          Delete 🗑️
        </button>
        <dialog id="my_modal_2" class="modal">
          <div class="modal-box">
            <p class="text-center mb-4">
              Are you sure you want to delete this build?
            </p>
            <div class="flex flex-row justify-around">
              <button class="btn px-5 btn-error" (click)="deleteBuild()">
                Delete
              </button>
              <form method="dialog">
                <button class="btn px-5 btn-primary">Cancel</button>
              </form>
            </div>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
      </div>
    </div>
    } @else if (userService.isLoggedIn && userService.getUserId() !==
    buildData.user.id) {
    <div class="relative">
      <div class="absolute top-10 right-10 flex flex-col gap-2">
        <button class="btn px-5 btn-error" onclick="my_modal_2.showModal()">
          Report ⚠️
        </button>

        <form
          class="w-1/4 mx-auto"
          [formGroup]="reportForm"
          (submit)="reportBuild($event)"
        >
          <dialog id="my_modal_2" class="modal">
            <div class="modal-box">
              <h1 class="mb-4 text-3xl">Report</h1>
              <hr class="mb-5" />
              <label class="form-control w-full max-w-xs">
                <input
                  type="text"
                  class="input input-bordered w-full max-w-xs"
                  placeholder="Content"
                  formControlName="body"
                  [ngClass]="{
                    'input-error': body?.hasError('required') && body?.dirty
                  }"
                  minlength="10"
                />
                @if ((body?.hasError('required') || body?.hasError('minlength'))
                && body?.dirty) {
                <div class="label">
                  @if (body?.hasError('required')) {
                  <span class="label-text-alt text-error"
                    >Content is required</span
                  >
                  } @else if (body?.hasError('minlength')) {
                  <span class="label-text-alt text-error"
                    >Min length is 10 characters</span
                  >
                  }
                </div>
                }
              </label>
              <select
                formControlName="reason"
                class="select select-bordered w-full max-w-xs mt-3"
              >
                <option disabled selected>Select an option</option>
                @for (reason of reasons; track reason) {
                <option [value]="reason">{{ reason }}</option>
                }
              </select>
              <div class="flex flex-row gap-3 mt-4">
                <button
                  class="btn px-5 btn-error"
                  [disabled]="!reportForm.valid"
                >
                  Report
                </button>
                <form method="dialog">
                  <button class="btn px-5 btn-primary">Cancel</button>
                </form>
              </div>
              @if (errorMessage != null) {
              <div class="label mt-0">
                <span class="label-text-alt text-error">{{
                  errorMessage
                }}</span>
              </div>
              }
            </div>
          </dialog>
        </form>
      </div>
    </div>
    }
    <p class="text-center font-bold text-4xl">{{ buildData.title }}</p>
    <p class="font-semibold text-xl">{{ buildData.shortDescription }}</p>
    <p>{{ buildData.body.description }}</p>
    <div class="mx-auto">
      <h1 class="text-2xl text-center">Items</h1>
      <div class="w-full">
        <div class="w-fit mt-3 mx-auto">
          <div class="join mx-1">
            <div
              class="border border-[#dc9b32] rounded-xl m-3 p-1 bg-[#2d2208] bg-opacity-30 h-36"
            >
              <div class="relative w-full">
                <img
                  class="absolute left-1/2 top-0 -translate-x-1/2"
                  src="assets/Weapon_Icon.png"
                />
                <p
                  class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
                >
                  WEAPON
                </p>
              </div>
              <div
                class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
              >
                @for (item of buildData.body.weaponItems; track item) {
                <div class="bg-[#dc9b32] w-10 h-10 rounded-md">
                  <img
                    class="invert"
                    [src]="'assets/items/' + item.replaceAll(' ', '_') + '.png'"
                  />
                </div>
                }
              </div>
            </div>
            <div
              class="border border-[#7bbb1c] rounded-xl m-3 p-1 bg-[#1f3104] bg-opacity-30 h-36"
            >
              <div class="relative w-full">
                <img
                  class="absolute left-1/2 top-0 -translate-x-1/2"
                  src="assets/Vitality_Icon.png"
                />
                <p
                  class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
                >
                  VITALITY
                </p>
              </div>
              <div
                class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
              >
                @for (item of buildData.body.vitalityItems; track item) {
                <div class="bg-[#7bbb1c] w-10 h-10 rounded-md">
                  <img
                    class="invert"
                    [src]="'assets/items/' + item.replaceAll(' ', '_') + '.png'"
                  />
                </div>
                }
              </div>
            </div>
            <div
              class="border border-[#cd91fe] rounded-xl m-3 p-1 bg-[#332142] bg-opacity-30 h-36"
            >
              <div class="relative w-full">
                <img
                  class="absolute left-1/2 top-0 -translate-x-1/2"
                  src="assets/Spirit_Icon.png"
                />
                <p
                  class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
                >
                  SPIRIT
                </p>
              </div>
              <div
                class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
              >
                @for (item of buildData.body.spiritItems; track item) {
                <div class="bg-[#cd91fe] w-10 h-10 rounded-md">
                  <img
                    class="invert"
                    [src]="'assets/items/' + item.replaceAll(' ', '_') + '.png'"
                  />
                </div>
                }
              </div>
            </div>
            <div
              class="border border-slate-800 rounded-xl m-3 p-1 bg-[#2c2c2c] bg-opacity-30 h-36"
            >
              <div class="relative w-full">
                <p
                  class="absolute left-1/2 top-5 -translate-x-1/2 text-center font-bold"
                >
                  FLEX
                </p>
              </div>
              <div
                class="relative top-12 grid grid-cols-2 grid-rows-2 w-[82px] h-[82px] rounded-md"
              >
                @for (item of buildData.body.flexItems; track item) {
                <div
                  class="w-10 h-10 rounded-md"
                  [class]="{
                    'bg-[#dc9b32]': item.category === 'weapon',
                    'bg-[#7bbb1c]': item.category === 'vitality',
                    'bg-[#cd91fe]': item.category === 'spirit'
                  }"
                >
                  <img
                    class="invert"
                    [src]="
                      'assets/items/' +
                      item.name.toString().replaceAll(' ', '_') +
                      '.png'
                    "
                  />
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col justify-around w-full">
  <p class="text-center text-4xl font-bold py-4">Comments</p>
  @if (userService.isLoggedIn) {
  <div class="flex justify-around">
    <form class="w-1/3" [formGroup]="commentForm">
      <textarea
        required
        formControlName="content"
        class="rounded-md w-full h-20 overflow-y-auto focus:outline-none p-2 min-h-10"
        placeholder="Write a comment..."
      ></textarea>
      @if (commentForm.dirty) {
      <div class="flex justify-center gap-2 pt-2">
        <button class="btn btn-primary" type="reset">Cancel</button>
        <button
          class="btn btn-success"
          (click)="saveComment()"
          [disabled]="!commentForm.valid"
        >
          Comment
        </button>
      </div>
      }
    </form>
  </div>
  } @if (buildData.comments.length > 0) {
  <div class="flex flex-col items-center w-full gap-4 mt-4">
    @for (comment of buildData.comments; track comment) {
    <div class="card bg-slate-800 p-2 w-3/5">
      <div class="flex flex-row gap-4 relative">
        <p class="font-semibold">{{ comment.commenterUsername }}</p>
        <p>{{ convertToDate(comment.createdAt) }}</p>
        @if (userService.getUserId() === comment.userId || userService.getRole()
        === 'moderator') {
        <button class="absolute right-2" (click)="deleteComment(comment.id)">
          🗑️
        </button>
        }
      </div>
      <p>
        {{ comment.content }}
      </p>
    </div>
    }
  </div>
  } @else {
  <p class="text-center text-2xl mt-6">There are no comments yet</p>
  }
</div>
}
