<div class="grid xl:grid-cols-8 md:grid-cols-6 sm:grid-cols-4 gap-4">
  @for (hero of heroes; track hero; let i = $index) {
  <a class="card w-fit bg-[#a29582]" [routerLink]="['/heroes', $index]">
    <img
      class="rounded-md min-w-40 min-h-40 max-w-70 max-h-70"
      [src]="'assets/heroes/' + hero.name.replaceAll(' ', '_') + '_card.png'"
      [alt]="hero.name"
    />
    <p
      class="text-center w-full absolute bottom-0 font-semibold text-2xl text-[#ffefd7]"
    >
      {{ hero.name }}
    </p>
  </a>

  }
</div>
